body {
  background-color: #f8f7ef;
  color: #173f35;
  stroke: #173f35;
  fill: #0d221d;
  font-weight: 400;
  font-style: normal;
}

.the-font-for-logo,
.cochin-regular {
  font-family: Cochin, Georgia, Times, 'Times New Roman', serif;
}

body:not(.javascript) .the-font-for-tables,
.noto-sans math-regular {
  font-family: 'Noto Sans Math', sans-serif;
}

.the-font-monospaced,
.victor-mono {
  font-family: 'Victor Mono', 'Courier New', Courier, monospace;
  font-optical-sizing: auto;
}

#copyright {
  visibility: hidden;
  overflow: hidden;
  width: 33px;
  font-size: 10px;
}

/* BEGIN prise de tête */

/* Apply styles for touch devices */
@media (pointer: coarse) {
  /* Your touch device specific styles here */
  .btn:hover {
    background-color: unset;
    color: unset;
  }
}

/* Apply styles for non-touch devices */
@media (pointer: fine) {
  /* Your non-touch device specific styles here */
  .btn.my-button:not(.disabled):hover,
  .btn-check:hover:not(checked) + .btn.my-button {
    background-color: #c0bfb3 !important;
  }
}

#buttons > .btn-check:disabled + .btn.my-button,
#buttons > .btn-check[disabled] + .btn.my-button,
#buttons > button:disabled.my-button {
  opacity: 0.33;
}

.btn-check:checked + .btn.my-button {
  background-color: #d8d7c9 !important;
}

.btn.my-button,
.btn-check:not(checked) + .btn.my-button .btn.my-button.disabled {
  background-color: transparent !important;
  border-color: lightgrey !important;
}

.btn.my-button svg {
  vertical-align: text-bottom;
}
/* FIN prise de tête */

#con.container {
  background-color: #f1efe0;
  /* border-radius: 0.375rem; */
  max-width: 580px;
  padding: 0;
}

#αβ {
  font-weight: normal;
  letter-spacing: 0.375rem;
}

#aletheia {
  visibility: hidden;
  margin-bottom: 3rem !important;
}

body:not(.javascript) #aletheia #logo:before {
  content: 'Aletheia';
}

body.javascript #aletheia #logo:before {
  content: 'ἀλήθεια';
}

#aletheia #logo {
  font-size: 64px;
  text-decoration: none;
  color: inherit;
  user-select: none;
}

#tables > div:not(.separator-container) {
  display: inline-block;
  margin: 0.25rem;
  padding: 0;
  border: 0.75px solid var(--border-color);
}

#tables.transparent-border > div:not(.separator-container) {
  border: 0.75px solid transparent;
}

#tables > div.separator-container {
  display: flex;
  align-items: center;
}

#tables > div.separator-container .separator-line {
  border-bottom: 1px dashed rgba(150, 150, 150, 0.5);
}

#tables > div.separator-container .separator-line-right {
  flex-grow: 1;
  margin: 0 0.375rem 0 0;
}

#tables > div.separator-container .separator-line-left {
  margin: 0 0 0 0.375rem;
  min-width: 0.75rem;
}

#tables > div.separator-container .separator-text {
  white-space: nowrap;
  padding: 0 0.375rem;
  background-color: transparent;
}
#tables:not(.transparent-border) tbody > tr:nth-child(1) > td:nth-child(2) {
  border-right: 0.75px dashed var(--border-color);
  border-bottom: 0.75px dashed var(--border-color);
}
#tables:not(.transparent-border) tbody > tr:nth-child(1) > td:nth-child(3) {
  border-left: 0.75px dashed var(--border-color);
  border-bottom: 0.75px dashed var(--border-color);
}
#tables:not(.transparent-border) tbody > tr:nth-child(2) > td:nth-child(2) {
  border-right: 0.75px dashed var(--border-color);
  border-top: 0.75px dashed var(--border-color);
}
#tables:not(.transparent-border) tbody > tr:nth-child(2) > td:nth-child(3) {
  border-left: 0.75px dashed var(--border-color);
  border-top: 0.75px dashed var(--border-color);
}

#tables table {
  border-collapse: collapse;
}

#tables table tbody {
  opacity: 1;
  filter: blur(0);
  transition:
    opacity 0.3s ease-in-out,
    filter 0.3s ease-in-out,
    transform 0.3s ease-in-out;
}

#tables table.hint tbody tr:nth-child(1) > td:nth-child(2).translucent {
  transform: scale(0.5) translateY(50%) translateX(50%);
}
#tables table.hint tbody tr:nth-child(1) > td:nth-child(3).translucent {
  transform: scale(0.5) translateY(50%) translateX(-50%);
}
#tables table.hint tbody tr:nth-child(2) > td:nth-child(2).translucent {
  transform: scale(0.5) translateY(-50%) translateX(50%);
}
#tables table.hint tbody tr:nth-child(2) > td:nth-child(3).translucent {
  transform: scale(0.5) translateY(-50%) translateX(-50%);
}

.overlay {
  position: absolute;
  background-color: transparent;
  pointer-events: none; /* Allows mouse events to pass through */
  z-index: 1;
  backdrop-filter: blur(3px);
}

#tables table:not(.hint) td.true.translucent {
  opacity: 0;
}
#tables table td.false.translucent {
  opacity: 0;
}
#tables table.hint td.false:not(.translucent) {
  opacity: 0.5;
}

#tables td.true:not(.translucent) {
  border: none !important;
}

#tables table.inline {
  display: inline-block;
  margin: 0;
}

#tables table caption {
  white-space: nowrap;
  font-size: 20px;
  background-color: #ffffffa0;
  margin-bottom: 0.375rem;
  padding: 0;
  color: inherit;
  user-select: none;
}

#tables table thead th:nth-child(2):after {
  content: '𝖡'; /* 'β' */
  width: 100%;
  overflow: visible;
  position: absolute;
  top: -4px;
  left: 0;
  transform: translateX(50%);
  white-space: nowrap;
  text-align: center;
  font-family: 'Noto Sans Math', sans-serif;
  font-size: 11px;
}
body.javascript #tables table thead th:nth-child(2):after {
  content: 'β';
}
#tables table tbody tr:nth-child(1) th:after {
  content: '𝖠'; /* 'α' */
  height: 100%;
  overflow: visible;
  position: absolute;
  left: -2px;
  bottom: 0;
  white-space: nowrap;
  writing-mode: vertical-rl;
  /* Vertical writing mode, right to left */
  transform: rotate(180deg) translateY(-50%);
  /* Rotate the text 180 degrees */
  font-family: 'Noto Sans Math', sans-serif;
  font-size: 11px;
}

body.javascript #tables table tbody tr:nth-child(1) th:after {
  content: 'α';
}

#tables table th {
  display: none;
  text-align: center;
  vertical-align: middle;
  padding: 1px !important;
  background-color: transparent !important;
  font-family: 'Victor Mono', 'Courier New', Courier, monospace;
  font-size: 8px;
  position: relative;
  min-width: var(--header-width_and_height);
  min-height: var(--header-width_and_height);
  /* https://stackoverflow.com/a/11275916/1070215 !!! */
  height: var(--header-width_and_height);
  color: gray;
}

#tables table thead tr th:not(:first-child) {
  border-bottom: 0.75px solid var(--border-color);
}

#tables table tbody tr th:first-child {
  border-right: 0.75px solid var(--border-color);
}


#tables table tr td {
  width: var(--cell-width_and_height);
  height: var(--cell-width_and_height);
  text-align: center;
  vertical-align: middle;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.67);
  font-family: var(--bs-body-font-family);
  font-size: 25px;
  padding: 0;
  transform: none;
  user-select: none;
}

#tables table td {
  cursor: default;
}

.vertical-text {
  writing-mode: vertical-rl;
  /* Vertical writing mode, right to left */
  transform: rotate(180deg);
  /* Rotate the text 180 degrees */
}

.center-children {
  text-align: center;
}

.diagonal-line::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border-bottom: 0.75px solid var(--border-color);
  /* Same as line color */
  transform: skewY(45deg);
  /* Adjust the angle of the second diagonal line */
  transform-origin: 100%;
  /* Set the origin of the transformation to the top-right corner */
}

.negation {
  position: relative;
  display: inline-block;
}

.negation:not(.canonical):after {
  content: '';
  position: absolute;
  top: 3px;
  /* adjust as needed */
  left: 0;
  width: 100%;
  border-top: 2px solid #173f35;
}

.negation.canonical:before {
  content: '¬';
}
