body {
  background-color: #f8f7ef;
  /* f1efe0 */
  /* #f1efe0; */
  color: #173f35;
  stroke: #173f35;
  fill: #0d221d;
  /* font-family: Georgia, 'Times New Roman', Times, serif; 
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#copyright {
  visibility: hidden;
  overflow: hidden;
  width: 33px;
  font-size: 10px;
}

.modal {
  font-family: var(--bs-body-font-family);
}

nav#nav {
  border-top: 0.75px solid var(--border-color);
  background-color: #f1efe0; /* f8f7ef; /* e9e6ce; */
}

#buttons > .btn-check:disabled+.btn, 
#buttons > .btn-check[disabled]+.btn,
#buttons > button:disabled  {
  opacity: 0.33;
}

#con.container {
  background-color: #f1efe0;
  border-radius: 0.375rem;
  max-width: 580px;
  padding: 0;
}

#αβ {
  font-weight: normal;
  letter-spacing: 0.375rem;
}

#aletheia {
  visibility: hidden;
  padding-bottom: 4rem !important;
}

#aletheia a {
  font-family: Georgia, 'Times New Roman', Times, serif; 
  font-size: 64px;
  text-decoration: none;
  color: inherit;
}

#tables > div:not(.separator-container) {
  display: inline-block;
  margin: 0.25rem;
  padding: 0;
  border: 0.75px solid var(--border-color);
}

#tables.transparent-border > div:not(.separator-container) {
  border: 0.75px solid transparent;
}

#tables > div.separator-container {
  display: flex;
  align-items: center;
}

#tables > div.separator-container .separator-line {
  border-bottom: 1px dashed rgba(150, 150, 150, 0.5);
}

#tables > div.separator-container .separator-line-right {
  flex-grow: 1;
  margin: 0 0.375rem 0 0;
}

#tables > div.separator-container .separator-line-left {
  margin: 0 0 0 0.375rem;
  min-width: 0.75rem;
}

#tables > div.separator-container .separator-text {
  white-space: nowrap;
  padding: 0 0.375rem;
  background-color: transparent;
}

#tables:not(.transparent-border) tbody > tr:nth-child(1) > td:nth-child(2) {
  border-right: 0.75px dashed var(--border-color);
  border-bottom: 0.75px dashed var(--border-color);
}
#tables:not(.transparent-border) tbody > tr:nth-child(1) > td:nth-child(3) {
  border-left: 0.75px dashed var(--border-color);
  border-bottom: 0.75px dashed var(--border-color);
}
#tables:not(.transparent-border) tbody > tr:nth-child(2) > td:nth-child(2) {
  border-right: 0.75px dashed var(--border-color);
  border-top: 0.75px dashed var(--border-color);
}
#tables:not(.transparent-border) tbody > tr:nth-child(2) > td:nth-child(3) {
  border-left: 0.75px dashed var(--border-color);
  border-top: 0.75px dashed var(--border-color);
}

#tables table.inline {
  display: inline-block;
  margin: 0;
}

#tables table caption {
  white-space: nowrap;
  font-size: 16px;
  background-color: #ffffffa0;
  margin-bottom: 0.375rem;
  padding: 0.375rem 0;
  color: inherit;
}

#tables table thead th:nth-child(2):after {
  content: 'B'; /* 'β' */
  width: 100%;
  overflow: visible;
  position: absolute;
  top: -2px;
  left: 0;
  transform: translateX(50%);
  white-space: nowrap;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#tables table tbody tr:nth-child(1) th:after {
  content: 'A'; /* 'α' */
  height: 100%;
  overflow: visible;
  position: absolute;
  left: -2px;
  bottom: 0;
  white-space: nowrap;
  writing-mode: vertical-rl;
  /* Vertical writing mode, right to left */
  transform: rotate(180deg) translateY(-50%);
  /* Rotate the text 180 degrees */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#tables table th {
  display: none;
  text-align: center;
  vertical-align: middle;
  font-weight: normal;
  font-size: 10px;
  padding: 1px !important;
  background-color: transparent !important;
  font-family: 'Courier New', Courier, monospace;
  position: relative;
  min-width: var(--header-width_and_height);
  min-height: var(--header-width_and_height);
  /* https://stackoverflow.com/a/11275916/1070215 !!! */
  height: var(--header-width_and_height);
  color: inherit;
}

#tables table thead tr th:not(:first-child) {
  border-bottom: 0.75px solid var(--border-color);
}

#tables table tbody tr th:first-child {
  border-right: 0.75px solid var(--border-color);
}

#tables table td {
  width: var(--cell-width_and_height);
  height: var(--cell-width_and_height);
  text-align: center;
  vertical-align: middle;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-size: 25px;
  padding: 0 1px 4px 0 !important;
}

#tables table td {
  cursor: default;
}

.vertical-text {
  writing-mode: vertical-rl;
  /* Vertical writing mode, right to left */
  transform: rotate(180deg);
  /* Rotate the text 180 degrees */
}

.center-children {
  text-align: center;
}

.diagonal-line::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border-bottom: 0.75px solid var(--border-color);
  /* Same as line color */
  transform: skewY(45deg);
  /* Adjust the angle of the second diagonal line */
  transform-origin: 100%;
  /* Set the origin of the transformation to the top-right corner */
}
.translucent {
  opacity: 0;
}

#play-again {
  display: flex;
  align-items: flex-end;
  padding: 0.25rem;
  margin-bottom: -0.375rem;
}

#play-again label {
  margin-right: 0.376rem;
}

.negation {
  position: relative;
  display: inline-block;
}

.negation:after {
  content: '';
  position: absolute;
  top: 0;
  /* adjust as needed */
  left: 0;
  width: 100%;
  border-top: 2px solid #173f35;
}
