.playbutton {
  border-radius: 0;
  border: 1px solid #173f35;
  border-radius: 50%;
  overflow: hidden;
  padding: 0;
}

.playbutton > * {
  width: 20px;
  height: 20px;
}

.playbutton > :first-child {
  margin: 8px;
}

.playbutton > #timer-playing {
  display: none;
  position: relative;
  margin: 0;
  width: 36px;
  height: 36px;
}

.playbutton > #timer-playing > svg {
  position: absolute;
  top: 0;
  left: 0;
}

.playbutton > #timer-playing > #compte-à-rebours {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Courier New', Courier, monospace;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 16px;
}
